/**
 * icon-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-icon-grid {
  position: relative;
  @extend %section-padding;
  @include ragged-after('s',true);
  background-color: $battleship;

  .icon-grid__heading {
    @extend %h3;
    margin-left: auto;
    margin-right: auto;
    font-weight: $text-book;
  }

  .icon-grid__content {

    p:last-child {
      margin-bottom: 0;
    }
  }

  .icon-grid__icons {
    position: relative;
    list-style: none;
    width: calc( 100% + #{$grid-column-padding*2} );
    margin-left: $grid-column-padding * -1;
  }

  .icon-grid__block {
    margin-top: $padding-medium;

    h1, h2, h3, h4, h5, h6 {
      color: $white;
    }

    p, time, li, dd {
      color: $grey;
    }

    li {
      padding-top: #{rem-calc(6)};
      padding-bottom: #{rem-calc(6)};
    }
  }

  .icon-grid__block__icon {

    .icon {
      @extend %coin;
    }

  }

  .icon-grid__block__title {
    h2, h3, h4, h5, h6 {
      @extend %h6;
      margin-bottom: rem-calc(10);
    }
  }

  .icon-grid__block__caption {

    p {
      @extend %small;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  @include screen-lg-up {

    .page-template-template-dark & {

      .icon-bison {
        width: rem-calc(60);
        height: rem-calc(60);
      }

      .icon-grid__block__title {
        margin-bottom: rem-calc(24);
      }

      .icon-grid__block__caption {

        p {
          font-size: rem-calc(16);
          color: $white;
        }

      }

    }

    body:not(.page-template-template-dark) & {

      .icon-grid__wrapper {
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        flex: .8333333333 1 auto;
      }

    }

    .icon-grid__block {
      margin-top: $padding-small;
      margin-bottom: $padding-small;
    }

  }

}
