/**
 * filters Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-filters {

  .card-grid__form {
    padding-right: rem-calc(4);
    padding-left: rem-calc(4);
  }

  .entry__filters__label {
    margin-top: 0;
  }

}
