/**
 * three-col-w-heading Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-three-col-w-heading {
  position: relative;
  z-index: 2;//Dev Note: likely temporary
  @extend %section-padding;
  @include ragged-before('w', true);
  @include ragged-after('w', true);

  .three-col-w-heading__heading {
    padding-right: 0;
    padding-left: 0;
  }

  .three-col-w-heading__header {
    @extend %h5;
    color: $battleship;
  }

  .three-col-w-heading__content {
    margin-bottom: $padding-medium * 0.75;

    p {
      @extend %large;
      color: $black;
    }
  }

  .three-col-w-heading__block {
    margin-top: $padding-medium;

    &:first-child {
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $battleship;
    }

    p, time, li, dd {
      color: $aluminum;
    }

    li {
      padding-top: #{rem-calc(6)};
      padding-bottom: #{rem-calc(6)};
    }

  }

  .icon-bison {
    width: rem-calc(50);
    height: rem-calc(50);
    fill: $gold;
    margin-bottom: $padding-xsmall;
  }

  @include screen-sm-only {

    .three-col-w-heading__block {

      &:nth-child(even) {
        margin-top: 0;
      }

    }

  }

  @include screen-md-up {

    .three-col-w-heading__content {
      margin-bottom: $padding-large * 0.75;
    }

    .three-col-w-heading__block {
      margin-top: 0;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

    }

    .three-col-w-heading__heading,
    .three-col-w-heading__content {
      margin-left: auto;
      margin-right: auto;
    }

    .icon-bison {
      margin-bottom: $padding-small;
    }

  }

}