/**
 * photo-stack-w-content Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-photo-stack-w-content {

  @extend %section-padding;
  @include ragged-before();
  background-color: $white;

  .photo-stack-w-content__coin {
    display: inline-flex;
    width: 50vw;
    height: 50vw;
    margin: auto;
  }

  .photo-stack-w-content__headline {
    @extend %h0;
    position: relative;
    z-index: 1;
    color: $smoke;
    letter-spacing: rem-calc(4.51);
    line-height: line-calc(60,47);
  }

  .photo-stack-w-content__subheadline {
    @extend %h1;
    margin-top: rem-calc(12);
    color: $smoke;
  }

  .photo-stack-w-content__description {
    color: $ebony;
  }

  .photo-stack-w-content__button {

    a {
      @extend %open-sans;
      box-shadow: 0 #{rem-calc(4)} #{rem-calc(14)} 0 rgba($black, 0.3);
    }

  }

  .photo-stack-w-content__images {
    flex-wrap: wrap;
    margin-top: rem-calc(70);
  }

  .photo-stack-w-content__image0 {
    width: 33.3333333334%;
    height: 33.3333333334vw;
    max-width: 33.3333333334%;
    flex: .3333333334 1 auto;
  }

  .photo-stack-w-content__image1 {
    width: 66.6666666667%;
    height: 70vh;
    max-width: 66.6666666667%;
    flex: .6666666667 1 auto;
  }

  .photo-stack-w-content__image2 {
    width: 85%;
    height: 85vw;
    max-width: 85%;
    flex: .85 1 auto;
    margin-top: -33.3333333334vw;
  }

  .photo-stack-w-content__image1,
  .photo-stack-w-content__image2 {
    box-shadow: 0 #{rem-calc(13)} #{rem-calc(33)} rgba($black, 0.1);
  }

  .photo-stack-w-content__caption {
    @include flexible(space-between);

    * {
      color: $smoke;
    }

    h2, h3, h4, h5, h6, p, ol, ul, dl {
      margin-top: $padding-medium;
    }

    >:nth-child(even) {
      margin-left: $padding-medium;
    }
  }

  @include screen-sm {

    .photo-stack-w-content__subheadline {
      margin-top: auto;
    }

    .photo-stack-w-content__button {
      margin-top: $padding-small;
      text-align: center;
    }

    .photo-stack-w-content__images {
      margin-top: $padding-small;

      .photo-stack-w-content__image1,
      .photo-stack-w-content__image2 {
        width: 100%;
        height: 66.6666666667vw;
        max-width: initial;
        flex: 1 1 100%;
        margin-top: $padding-small;
      }

      .photo-stack-w-content__image0 {
        display: none;
      }

      .photo-stack-w-content__image2 {
        order: 3;
      }

    }

  }

  @include screen-sm-up {

    .photo-stack-w-content__coin {
      display: none;
    }

  }

  @include screen-md {

    .photo-stack-w-content__wrapper {
      justify-content: center;
    }

    .photo-stack-w-content__headline {

      br {
        display: none
      }

    }

    .photo-stack-w-content__subheadline {
      margin-left: auto;

      br {
        display: none
      }

    }

  }

  @include screen-md-only {

    .photo-stack-w-content__subheadline {
      padding-top: $padding-medium;
      background-size: rem-calc(40);
    }

    .photo-stack-w-content__image1 {
      img {
        margin-bottom: -1 * $padding-medium;
      }
    }

  }

  @include screen-md-up {

    .photo-stack-w-content__image0 {

      + .photo-stack-w-content__headline {
        margin-top: -1.25 * $padding-large;
      }
    }

    .photo-stack-w-content__headline {
      line-height: line-calc(82,62);
    }

    .photo-stack-w-content__subheadline {
      margin-top: rem-calc(7);
      margin-bottom: rem-calc(20);
    }

    .photo-stack-w-content__button {
      order: 1;
      margin-top: $padding-medium;

      a {
        padding-right: rem-calc(60);
        padding-left: rem-calc(60);
      }
    }

    .photo-stack-w-content__description {
      order: 2;
    }

    .photo-stack-w-content__image0 {
      width: 16.6666666667%;
      height: 16.6666666667vw;
      max-width: 16.6666666667%;
      flex: .1666666667 1 auto;
    }

    .photo-stack-w-content__image1 {
      width: 83.3333333333%;
      height: 70vh;
      max-width: 83.3333333333%;
      flex: .8333333333 1 auto;
    }

    .photo-stack-w-content__image2 {
      width: 50%;
      height: 50vw;
      max-width: 50%;
      flex: .5 1 auto;
      margin-top: -15vw;
    }

    .photo-stack-w-content__caption {
      width: 50%;
      padding: $padding-large * 0.625;

      * {
        margin-top: 0;
      }
    }
  }

  @include screen-lg-up {

    .photo-stack-w-content__image0 {
      &:before {
        right: $padding-xsmall;
        left: $padding-xsmall;
      }
    }

    .photo-stack-w-content__image1 {
      img {
        margin-bottom: -1 * $padding-large;
      }
    }

  }

}