/**
 * photo-stack-w-content Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-photo-stack-w-content {

  @extend %section-padding;
  @include ragged-before();
  background-color: $white;

  .photo-stack-w-content__headline {
    @extend %h0;
    position: relative;
    z-index: 1;
    letter-spacing: rem-calc(4.51);
    line-height: line-calc(60,47);
  }

  .photo-stack-w-content__subheadline {
    padding-top: $padding-medium * 0.75;
    font-weight: $text-book;
  }

  h2.photo-stack-w-content__subheadline {
    @extend %h4;
  }

  h3.photo-stack-w-content__subheadline {
    @extend %h5;
  }

  .photo-stack-w-content__image0 {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.1);
    }

    img {
      width: 100%;
      box-shadow: 0 #{rem-calc(10)} #{rem-calc(14)} 0 rgba($black, 0.6);
    }

    + .photo-stack-w-content__headline {
      margin-top: -1 * $padding-large;
    }

  }

  .photo-stack-w-content__image1 {

    img {
      width: 100%;
    }

    .feature {
      box-shadow: 0 #{rem-calc(13)} #{rem-calc(33)} 0 rgba($black, 0.3);
    }
  }

  @include screen-md {

    .photo-stack-w-content__wrapper {
      justify-content: center;
    }

    .photo-stack-w-content__headline {

      br {
        display: none
      }

    }

    .photo-stack-w-content__subheadline {
      margin-left: auto;

      br {
        display: none
      }

    }

  }

  @include screen-md-only {

    .photo-stack-w-content__subheadline {
      padding-top: $padding-medium;
      background-size: rem-calc(40);
    }

    .photo-stack-w-content__image1 {
      img {
        margin-bottom: -1 * $padding-medium;
      }
    }

  }

  @include screen-md-up {
    .photo-stack-w-content__image0 {

      + .photo-stack-w-content__headline {
        margin-top: -1.25 * $padding-large;
      }
    }

    .photo-stack-w-content__headline {
      margin-bottom: $padding-medium;
    }

    .photo-stack-w-content__subheadline {
      padding-top: $padding-large;
      background: url(../img/logo_graphic_only-w.png) no-repeat;
      background-size: rem-calc(70);
      background-position: #{rem-calc(3)} 0;
    }

    .photo-stack-w-content__description {
      text-align: right;

      p {
        max-width: rem-calc(440);
        margin-left: auto;
      }
    }

    .photo-stack-w-content__headline {
      line-height: line-calc(82,62);
    }
  }

  @include screen-lg-up {

    .photo-stack-w-content__image0 {
      &:before {
        right: $padding-xsmall;
        left: $padding-xsmall;
      }
    }

    .photo-stack-w-content__image1 {
      img {
        margin-bottom: -1 * $padding-large;
      }
    }

  }

}