/**
 * Coin
 *
 * Used width cards and grids to show a gold icon of your choice
 */
%coin {
  width: rem-calc(50);
  height: rem-calc(50);
  fill: $gold;
  margin-bottom: $padding-xsmall;

  @include screen-md-up {
    margin-bottom: $padding-small;
  }

}

.coin {
  @extend %coin;
}