/**
 * hero Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-hero {
  position: relative;
  min-height: 320px;
  height: 42vh;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 0 !important;
  text-align: left;
  background-color: $smoke;
  @include ragged-after;

  &.big-headline .hero__heading {
    margin-bottom: rem-calc(195/2);
    font-size: rem-calc(82);
    line-height: line-calc(70,82);
  }

  + .entry__meta {
   padding-top: $padding-small;
  }

  .container {
    flex-wrap: wrap;
    min-height: inherit;
  }

  .hero__button,
  .hero__heading,
  .hero__content {
    padding-left: 0;
    padding-right: 0;
  }

  .hero__heading,
  .hero__content {
    margin-right: auto;
    margin-left: auto;
    color: $white;
  }

  .hero__content {

    p {
      color: inherit;
    }

  }

  .hero__heading {
    @extend %h0;
  }

  .hero__button {
    margin-top: $padding-small * 0.75;
    text-transform: uppercase;
  }

  .play-video-button {
    @extend %icon-link;
    margin-top: rem-calc(21);
  }

  &:after {
    bottom: 0;
    border-width: #{rem-calc(75)} 100vw 0 0;
    border-color: transparent $white transparent transparent;
  }

  @include screen-sm {

    .hero__button {
      margin-left: auto;
      margin-right: auto;
    }

  }

  @include screen-md-up {
    min-height: rem-calc(637);
    height: 85vh;

    &.big-headline .hero__heading {
      margin-bottom: rem-calc(195);
    }

    .hero__heading,
    .hero__content {
      min-width: 50.01%;//This lil' hack forces a stack
      margin-right: 0;
    }

    .hero__button {
      margin-top: $padding-medium * 0.75;
    }

  }
}