/**
 * synopsis Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-synopsis {
  @extend %section-padding;
  margin-bottom: $padding-small;

  .synopsis__col,
  .synopsis__description {
    padding-left: 0;
  }

  .synopsis__header {
    @extend %h2;
  }

  .synopsis__description {

    p {
      margin-top: 0;
    }

  }

  .synopsis__nav {
    margin-top: $padding-medium * 0.75;

    [class*="btn"]{
      @extend %open-sans;
      box-shadow: 0 #{rem-calc(4)} #{rem-calc(14)} 0 rgba($black, 0.3);
    }
  }

  @include screen-sm {
    .synopsis__description {
      margin-top: $padding-large;
    }
  }

  @include screen-md-up {
    margin-bottom: $padding-medium;


    .synopsis__nav {
      margin-top: $padding-large * 0.75;

      [class*="btn"]{
        min-width: rem-calc(300);
      }
    }

  }
}
