/**
 * member-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.ll-member-grid {
  @extend %section-padding;

  /* Dev Note: Should there be an archive page, simply remove this style */
  .member-grid__nav {
    display: none;
  }

  .container:first-child {
    padding-bottom: $padding-medium;
  }

  .member-grid__heading {
    @extend %h3;
    padding-left: 0;
  }

  .member-grid__list {
    margin-left: calc(-1 * #{$grid-column-padding});
    margin-right: calc(-1 * #{$grid-column-padding});
    width: calc( 100% + #{$grid-column-padding*2} );
  }

  .member-grid__item {
    margin-bottom: $padding-medium;
  }

  .member-grid__thumb__figure {
  }

  .member-grid__thumb__image {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    min-height: rem-calc(355);
    align-items: center;
    list-style: none;
    background-size: cover;
    background-color: $aluminum;
  }

  .member-grid__thumb__title {
    @extend %h5;
    margin-top: rem-calc(24);
    margin-bottom: rem-calc(12);
    color: $smoke;
  }

  .member-grid__thumb__position {
    @extend %h6;
    margin-bottom: rem-calc(22);
    color: $smoke;
  }

  .member-grid__thumb__excerpt {

    p {
      margin: 0;
      color: $aluminum;
    }

  }

  @include screen-md-up {

    .member-grid__thumb__caption,
    .member-grid__thumb__image {
      width: calc( 100% - #{$grid-column-padding*2} );
      margin-right: $grid-column-padding;
      margin-left: $grid-column-padding;
    }

    .container:first-child {
      padding-bottom: $padding-large;
    }

    .member-grid__item {
      margin-bottom: $padding-large;
    }

  }
}